.contact{
    width: 100%;
    min-height: 500px;
    background-color: black;
    padding:0;
    margin:0 auto;
    .con_l{
        background-color:steelblue;
        padding:0;

    }
    .con_r{
        background-color: darkslategray;
        padding:0; 
    }
}