#concept{
    width: 100%;
    min-height: 300px;
    background-color: aquamarine;
    padding:50px 50px;
    position: relative;
  }

  .concept_wrap{
      margin-top:40px;
  }

//   .button{
//       text-decoration: underline;
//       text-align: center;
//   }